<div id="book-comment-index-<%= book_id %>">
  <h2>BookComment index</h2>
  <table>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <% BookComment.where( 'book_id = ?', book_id ).each do | bc | %>
    <tr>
      <td><%= attachment_image_tag bc.user, :profile_image, size:'30x30', format: 'jpeg', fallback: "no_image.jpg", size:'30x30' %></td>
      <td style='max-width:200px;'><%= bc.comment %></td>
      <td>
        <% if bc.user_id == current_user.id then %>
        <%= link_to 'Destroy',
        book_book_comment_path( bc.id ),
        method: :delete,
        remote: true,
        id:"destroy-book-comment-#{bc.id}",
        class: "destroy-btn" %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </table>

  <div class='book-comments-form'>
    <% if book_comment.errors.any? %>
    <%= render 'books/show_error_index', unit: book_comment %>
    <% end %>

    <%= form_for( book_comment, url: book_book_comment_path(book_id), remote: true ) do |f| %>
    <%= f.text_area :comment %>
    <%= f.submit "送信" %>
    <% end %>
  </div>
</div>
