<h2>User info</h2>
<%= attachment_image_tag person, :profile_image, size:'100x100', format: 'jpeg', fallback: "no_image.jpg", size:'100x100' %>
<table id='profile-table'>
  <tr>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <th class="profile-headline"><b>name</b></th>
    <td><%= person.name %></td>
  </tr>
  <tr>
    <th class="profile-headline"><b>introduction</b></th>
    <td><%= person.introduction %></td>
  </tr>
  <tr>
    <th class="profile-headline"><b>follows</b></th>
    <td><%= link_to Relationship.where( follower_id: person.id ).count, relationships_path( follower_id: person.id ) %></td>
  </tr>
  <tr>
    <th class="profile-headline"><b>followers</b></th>
    <td><%= link_to Relationship.where( follow_id: person.id ).count, relationships_path( follow_id: person.id ) %></td>
  </tr>
</table>

<div class="profile-bottom">
  <% if person.id != current_user.id  then %>
  <% if person.followed_by?( current_user.id ) then %>
  <!--YES-->
  <%= link_to 'フォローを外す', user_relationship_path( person ), method: :delete, class: "btn btn-danger" %>
  <% else %>
  <!--NO-->
  <%= link_to 'フォローする', user_relationship_path( person ), method: :post, class: "btn btn-success" %>
  <% end %>
  <% else %>
  <div id="map">
    <button onclick="setState()">住所周辺検索</button>
  </div>
  <% end %>
  <%= link_to current_user.id == person.id ? edit_user_path(current_user) : user_path(current_user) do %>
  <div class="btn btn-default input-form-size">
    <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
  </div>
</div>
<% end %>


<script>
  // 郵便番号から住所を取得
  function setState() {
    var zip = <%= current_user.postcode.to_s %>;

    $.ajax({
      type : 'get',
      url : 'https://maps.googleapis.com/maps/api/geocode/json',
      crossDomain : true,
      dataType : 'json',
      data : {
        key: 'AIzaSyD4d26ZiO_-77f_BWtdA85FlFSc4zm2EAU',
        address : zip,
        language : 'ja',
        sensor : false
      }
    }).done(function (data){
      // APIのレスポンスから住所情報を取得
      var obj = data.results[0].geometry.location;
      showMap( obj );
    }).fail(function (data) {
      // 福井県庁
      alert('住所情報が取得できませんでした');
      return false;
    });
}
    function showMap(obj) {
      var MyLatLng;
      if (obj === undefined ) { MyLatLng = new google.maps.LatLng(36.06528,136.22194); }
      else { MyLatLng = new google.maps.LatLng( obj.lat, obj.lng ); }
      var Options = {
        zoom: 8,      //地図の縮尺値
        center: MyLatLng,    //地図の中心座標
        mapTypeId: 'roadmap'   //地図の種類
      };
      var map = new google.maps.Map(document.getElementById('map'), Options);
      return false;
    }
</script>
